//RESET.scss
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=cyrillic-ext');
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

// MAIN.scss
html,
body {
    background: $light;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    margin: 105px auto;
    .page-title {
        margin: 20px 0px;
    }
}

@media screen and(max-width:600px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        // margin: 105px auto;
        .page-title {
            margin: 10px;
        }
    }
}

//NAVBAR.scss
.nav {
    width: 100%;
    height: 105px;
    background: $white;
    position: fixed;
    top: 0px;
    transition: top 0.3s;
    padding: 0px 21.5%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    z-index: 200;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav-logo {
    height: 60px;
}

.nav>.nav-links {
    display: inline-flex;
    align-items: center;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-flex;
    align-items: center;
    // padding: $p-tb $p-lr;
    margin: 20px;
    text-decoration: none;
    color: $dark;
    transition: $t-time;
}

//   .nav > .nav-links > a:hover {
//     background: transparentize($yellow, 0.8px);
//     border-radius: $radius;
//     padding: $p-tb $p-lr;
//   }
.nav>#nav-check {
    display: none;
}

.nav>.nav-dropdown {
    position: relative;
    display: inline-flex;
}

.nav>.nav-dropdown-content {
    display: none;
    position: absolute;
    background: $white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    min-width: 160px;
    z-index: 1;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.nav-lang {
    display: flex;
    align-items: center;
    height: 20px;
}

@media (max-width:600px) {
    .nav-divider {
        border-left: none;
        border-right: none;
        height: 0px;
        display: flex;
        flex-direction: row;
        margin: none;
    }
    .nav {
        width: 100%;
        height: 60px;
        background: $white;
        position: fixed;
        top: 0px;
        transition: top 0.3s;
        padding: 0px 21.5%;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        z-index: 200;
        &-logo {
            height: 40px;
        }
    }
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 14px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 5px;
    }
    // .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    //   background-color: rgba(0, 0, 0, 0.3);
    // }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #f4f4f4;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 60px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 80px);
        overflow-y: auto;
        text-align: center;
    }
}

.scrollUp {
    transform: translateY(-80px);
}

.nav-divider {
    border-left: 1px solid transparentize($dark, .9px);
    border-right: 1px solid transparentize($dark, .9px);
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: auto $mi;
}

@media (max-width: 500px) {
    //PRORUCTS PAGE
    .tovar {
        position: relative;
        &-container {
            display: flex;
            margin-top: $mi*2;
            flex-direction: column;
            justify-content: space-around;
        }
        &-btn-group {
            display: flex;
            flex-direction: column;
            margin-top: $mi;
            >.btn {
                margin-right: $mi;
            }
        }
        &-image {
            display: flex;
            width: 25%;
            height: 25%;
            border-radius: 14px;
        }
        &-info {
            display: flex;
            flex-direction: column;
            max-width: 50%;
            h1 {
                margin-bottom: $mi;
            }
        }
        &-category {
            display: flex;
            &-wrapper {
                span {
                    color: #818181;
                }
            }
        }
        &-description {
            margin-top: $mi;
            color: $dark;
            max-width: 400px;
            font-size: 18px;
            font-weight: 300;
            line-height: 24px;
        }
        &-nominale {
            display: flex;
            flex-direction: column;
            margin-top: $mi;
            span {
                color: #818181;
            }
            &-buttons {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                // margin: $mi 0px;
                flex-wrap: wrap;
                >.btn {
                    margin-right: 20px;
                }
            }
        }
    }
    .badge-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .badge {
        background: $yellow;
        color: $dark;
        position: relative;
        padding: 6px 8px;
        border-radius: 8px;
        text-decoration: none;
        margin: 6px;
        &:first-child {
            margin-left: 0px;
        }
    }
}

//BUTTONS
.btn {
    padding: $p-tb $p-lr;
    text-align: center;
    font-weight: 600;
    font-size: $btn;
    border-radius: $radius;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    transition: $t-time;
    border: 0px;
    &-simple {
        background: $white;
        color: $dark;
        border: 2px solid yellow;
    }
    &-regular {
        background: $yellow;
        color: $dark;
        &:hover {
            background: darken($yellow, 15);
        }
    }
    &-transparent {
        background: transparentize($yellow, 0.6px);
        color: #B78923 !important;
        &:hover {
            background: $yellow;
            color: $dark;
        }
    }
}

.btn-dropdown {
    background-image: url("../img/ddown-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 12px;
    padding: 1px 20px !important;
}

//FORMS.scss
.trailer {
    margin: $mi $mi/2;
    display: inline-flex;
}

@media screen and (max-width:768px) {
    .trailer {
        margin: $mi $mi/2;
        display: flex;
        flex-direction: row;
    }
    .form {
        &__wrap {
            position: relative;
            flex: auto;
        }
    }
}

//helper style
.jazz-caret {
    transform: translate(11px, 16px);
    font-size: 20px;
}

%form-hidden {
    position: fixed;
    left: -9999px;
    right: -9999px;
}

.form {
    $root: &;
    &__label {
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: top;
        &[for] {
            cursor: pointer;
        }
        &--required {
            &:after {
                content: '*';
                color: $form-color-error;
                margin-left: 5px;
            }
        }
    }
    &__wrap {
        position: relative;
    }
    &__textarea,
    &__select,
    &__input {
        border-radius: $radius;
        font-family: "Gotham Pro", sans-serif;
        font-size: 16px;
        display: block;
        width: 100%;
        background: $grey;
        border: 0px;
        outline: none;
        -webkit-appearance: none;
        margin: 0;
        padding: 16px 18px;
        color: $form-color;
        line-height: normal;
        box-shadow: none;
        overflow: hidden;
        &::placeholder {
            color: #b8b8b8;
        }
        &:hover {
            border-color: darken($form-border-color, 10%);
        }
        &:focus {
            border-color: $form-border-color-focus;
        }
        &[disabled] {
            background: $form-background-disabled;
            border-color: $form-border-color-disabled;
            cursor: default;
        }
        #{$root}--error & {
            border-color: $form-border-color-error;
            box-shadow: 0 0 0 1px $form-border-color-error inset
        }
    }
    &__select,
    &__input {
        &--small {
            height: $form-size-small;
        }
    }
    &__input {
        &--icon-left {
            padding-left: $form-padding + $form-size-default;
        }
        &--icon-right {
            padding-right: $form-padding + $form-size-default;
        }
    }
    &__textarea {
        resize: vertical;
        padding: $form-padding;
        height: $form-size-textarea;
        overflow: auto;
    }
    &__select {
        &--not-selected {
            color: #b8b8b8;
        }
        option {
            color: #474747;
        }
    }
    &__select-opener {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: $form-size-default;
        pointer-events: none;
        background: $white;
        color: $dark;
        border-radius: 0 $form-radius $form-radius 0;
        border: 1px solid transparent;
        background-clip: padding-box;
        #{$root}--error & {
            border-width: 2px;
        }
        #{$root}__select[disabled]+& {
            background: transparent;
        }
        &:before {
            border-left: 1px solid $form-border-color;
            left: 0;
            top: 0;
            height: 100%;
            content: '';
            position: absolute;
            #{$root}__select[disabled]+& {
                border-color: $form-border-color-disabled;
            }
        }
        &:after {
            font-family: FontAwesome;
            font-weight: 900;
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }
    }
}

.has-search {
    // padding-right: 2.375rem;
    .search-icon {
        position: absolute;
        z-index: 2;
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        pointer-events: none;
    }
}

//SWIPER.scss
.swiper-container {
    width: 100%;
    height: 400px;
    border-radius: $radius;
    margin-top: 44px;
    margin-bottom: 22px;
    margin-left: 7px !important;
    margin-right: 7px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

// CARDS
// .product{
//     &-container{
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: flex-start;
//     }
//     &-card{
//       margin: 10px auto;
//       width: 245px;
//       height: 175px;
//       border-radius: 14px;
//     box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
//       cursor: pointer;
//       transition: 0.4s;
//       &_image{
//         width: inherit;
//         height: inherit;
//         border-radius: 14px;
//         & img{ 
//           width: inherit;
//           height: inherit;
//           border-radius: 14px;
//           object-fit: cover;
//         }
//       }
//       &:hover{
//         transform: scale(0.9, 0.9);
//         box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
//           -5px -5px 30px 15px rgba(0,0,0,0.22);
//       }
//     }
// }
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    margin: 10px auto;
    width: 245px;
    height: 175px;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 14px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 14px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25)
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
        padding: 20px;
    }
    .card {
        width: 100%;
        height: 200px;
        border-radius: 14px;
        cursor: pointer;
        transition: 0.4s;
    }
}


/*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */

//SECTION
.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 22px;
    margin-left: 7px;
    margin-right: 7px;
    a {
        color: $yellow;
        text-decoration: none;
    }
}

// CATEGORY
.category {
    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    a {
        color: $dark;
        text-decoration: none;
        font-size: 24px;
        font-weight: 400;
    }
    &-card {
        display: flex;
        width: 245px;
        height: 175px;
        background: transparentize($yellow, 0.5);
        border-radius: $radius;
        margin: 7px;
        text-align: center;
        transition: 0.4s;
        &:hover {
            transform: scale(0.9, 0.9);
            box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25)
        }
        h3 {
            display: flex;
            flex: auto;
            justify-content: center;
            align-self: center;
            color: $dark;
            text-decoration: none;
            font-size: 24px;
            font-weight: 400;
        }
    }
}

@media screen and (max-width:500px) {
    .category {
        &-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 20px;
        }
        a {
            color: $dark;
            text-decoration: none;
            font-size: 24px;
            font-weight: 400;
        }
        &-card {
            display: flex;
            width: 100%;
            height: 200px;
            background: transparentize($yellow, 0.5);
            border-radius: $radius;
            margin: 10px 0px;
            text-align: center;
            transition: 0.4s;
            &:hover {
                transform: scale(0.9, 0.9);
                box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25)
            }
            h3 {
                display: flex;
                flex: auto;
                justify-content: center;
                align-self: center;
                color: $dark;
                text-decoration: none;
                font-size: 24px;
                font-weight: 400;
            }
        }
    }
}

// category colors
.color0 {
    background-color: #FFB7FC;
}

.color1 {
    background-color: #B7CFFF;
}

.color2 {
    background-color: #BDFFB7;
}

.color3 {
    background-color: #BDB7FF;
}

.color4 {
    background-color: #FFA28D;
}

.color5 {
    background-color: #B7FFF6;
}

.color6 {
    background-color: #908DFF;
}

.color7 {
    background-color: #FDFF8D;
}

//CHOOSE
.choose-product {
    display: flex;
    flex-direction: row;
    background: $white;
    border-radius: $radius;
    padding: 24px;
    justify-content: center;
    margin-bottom: 22px;
    margin-left: 7px;
    margin-right: 7px;
    select {
        border: 0px;
        margin: 0px 30px;
        font-family: "Gotham Pro", sans-serif;
        font-size: 18px;
    }
}

//FOOTER
.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background: $dark;
    padding: $mo/2;
    width: 100vw;
    &-link {
        font-size: 18px;
        font-weight: 300;
        color: $yellow;
        // margin: $mi/4 0px;
    }
    &-logo {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-bottom: $mi*2;
    }
    .logo {
        width: 100px;
    }
    &-content {
        display: inline-flex;
        margin: 0 auto;
    }
    &-column {
        display: flex;
        flex-direction: column;
        margin: 0px $mo;
        h2 {
            font-size: $text;
            font-weight: 400;
            color: $yellow;
            text-transform: uppercase;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: $mi/2 0px;
        a {
            font-size: 18px;
            font-weight: 300;
            color: $white;
            transition: $t-time;
            text-decoration: none;
            &:hover {
                color: $yellow;
            }
            &:visited {
                color: $yellow;
            }
            &:active {
                color: $yellow;
            }
        }
    }
}

//FOOTER RESPONSIVE
@media screen and (max-width:600px) {
    .footer {
        position: relative;
        display: flex;
        flex-direction: column;
        background: $dark;
        padding: $mo/2;
        width: 100vw;
        &-link {
            font-size: 18px;
            font-weight: 300;
            color: $yellow;
            margin: $mi 0px;
        }
        &-logo {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            margin-bottom: $mi*2;
        }
        .logo {
            width: 120px;
        }
        &-content {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            text-align: center;
        }
        &-column {
            display: flex;
            flex-direction: column;
            margin: 0px $mo;
            h2 {
                font-size: $text;
                font-weight: 400;
                color: $yellow;
                text-transform: uppercase;
            }
        }
        &__item {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin: $mi/2 0px;
            a {
                font-size: 18px;
                font-weight: 300;
                color: $white;
                transition: $t-time;
                text-decoration: none;
                &:hover {
                    color: $yellow;
                }
                &:visited {
                    color: $yellow;
                }
                &:active {
                    color: $yellow;
                }
            }
        }
    }
}

//PRORUCTS PAGE
.tovar {
    position: relative;
    &-container {
        display: flex;
        margin-top: $mi*2;
        flex-direction: row;
        justify-content: space-around;
    }
    &-btn-group {
        display: flex;
        flex-direction: row;
        margin-top: $mi;
        >.btn {
            margin-right: $mi;
        }
    }
    &-image {
        img {
            width: 400px;
            border-radius: 14px;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        h1 {
            margin-bottom: $mi;
        }
    }
    &-category {
        display: flex;
        &-wrapper {
            span {
                color: #818181;
            }
        }
    }
    &-description {
        margin-top: $mi;
        color: $dark;
        max-width: 400px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
    }
    &-nominale {
        display: flex;
        flex-direction: column;
        margin-top: $mi;
        span {
            color: #818181;
        }
        &-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            // margin: $mi 0px;
            flex-wrap: wrap;
            >.btn {
                margin-right: 20px;
            }
        }
    }
}

.badge-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.badge {
    background: $yellow;
    color: $dark;
    position: relative;
    padding: 6px 8px;
    border-radius: 8px;
    text-decoration: none;
    margin: 6px;
    &:first-child {
        margin-left: 0px;
    }
}

.minus,
.plus {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

input.number {
    text-align: center;
    width: 60px;
}

.instructions {
    background: $white;
    width: 100%;
    padding: $mi 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .terms {
        width: 44%;
        margin: auto;
    }
    h1 {
        width: 44%;
        margin: 20px auto;
    }
    ol {
        max-width: 800px;
        margin: 0 auto;
        padding: 10px 0px;
    }
    li {
        font-weight: 400;
        margin: 20px 0px;
    }
}

.btn-helper {
    margin-right: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}

//MODAL
// NOTIFICATIONS
@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.fadeOut {
    animation-name: fadeOut
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

.fadeInDown {
    animation-name: fadeInDown
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

.fadeInUp {
    animation-name: fadeInUp
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 150ms ease-out
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.notices {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    overflow: hidden;
    z-index: 1052;
    pointer-events: none
}

.notices .toast {
    display: inline-flex;
    align-items: center;
    animation-duration: 150ms;
    margin: .5em 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-radius: .25em;
    pointer-events: auto;
    opacity: .92;
    color: #fff;
    min-height: 3em;
    cursor: pointer
}

.notices .toast .toast-text {
    margin: 0;
    padding: .5em 1em;
    word-break: break-all;
    font-weight: 600;
}

.notices .toast .toast-icon {
    display: none
}

.notices .toast-success {
    background-color: $yellow;
    color: $dark;
}

.notices .toast-info {
    background-color: #17a2b8
}

.notices .toast-warning {
    background-color: #ffc107
}

.notices .toast-error {
    background-color: #dc3545
}

.notices .toast-default {
    background-color: #343a40
}

.notices .toast.is-top,
.notices .toast.is-bottom {
    align-self: center
}

.notices .toast.is-top-right,
.notices .toast.is-bottom-right {
    align-self: flex-end
}

.notices .toast.is-top-left,
.notices .toast.is-bottom-left {
    align-self: flex-start
}

.notices.is-top {
    flex-direction: column
}

.notices.is-bottom {
    flex-direction: column-reverse
}

.notices.is-custom-parent {
    position: absolute
}

@media screen and (max-width: 768px) {
    .notices {
        padding: 0;
        position: fixed !important
    }
}