<template>
    <router-link :to="'{{roduuct.link}}'" :v-for="product in products" v-key="product.id">
         <div class="product-card">
                        <img src="{{product.img}}">
        </div>
    </router-link>
</template>

<script>
export default {
    data() {
        return {
            products: [
                {
                    id: "1",
                    name: "Yandex.Eda",
                    img: "https://miro.medium.com/max/2560/1*oisBf6xe0dvBq6Gu-Ucb9Q.png",
                    link: "https://eda.yandex.ua/"
                },
                {
                    id: "2",
                    name: "Yandex.Eda",
                    img: "https://miro.medium.com/max/2560/1*oisBf6xe0dvBq6Gu-Ucb9Q.png",
                    link: "https://eda.yandex.ua/"
                },
                {
                    id: "3",
                    name: "Yandex.Eda",
                    img: "https://miro.medium.com/max/2560/1*oisBf6xe0dvBq6Gu-Ucb9Q.png",
                    link: "https://eda.yandex.ua/"
                },
            ]
        }
    }
}
</script>