<template>

    <div class="cards-list">
        <div class="card" v-for="product in products" :key="product.id">
  <router-link  tag="div" :to="'/product/'+ product.id" class="card_image"> 
      <img v-bind:src="product.image" /> 
  </router-link>

</div>
    </div>

    <!-- <div class="product-container">
        <div v-for="product in products" :key="product.id">
           <router-link :to="'/product/' + product.id" >
         <div class="product-card">
             <div class="card_image">
                        <img v-bind:src="product.image">

             </div>
        </div>
    </router-link>
        </div>

    </div> -->
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
           products: []
        }
    },
    mounted() {

            var self = this;
      
            axios.get('https://api.giftmarket.io/products')
            .then( function(res) {
                self.products = res.data.data;
                console.log(res)
            })
        
    }
}
</script>
