/* offset-x | offset-y | blur-radius | spread-radius | color */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html, body {
  background: #F4F4F4;
  font-family: "Gotham Pro", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1040px;
  margin: 105px auto;
}

.nav {
  width: 100%;
  height: 105px;
  background: #FFFFFF;
  position: fixed;
  top: 0px;
  transition: top 0.3s;
  padding: 0px 22px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  z-index: 200;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav-logo {
  height: 60px !important;
}

.nav > .nav-links {
  display: inline-flex;
  align-items: center;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-flex;
  align-items: center;
  padding: 15px 20px;
  margin: 20px;
  text-decoration: none;
  color: #212121;
  transition: 0.3s ease-in;
}

.nav > #nav-check {
  display: none;
}

.nav > .nav-dropdown {
  position: relative;
  display: inline-flex;
}

.nav > .nav-dropdown-content {
  display: none;
  position: absolute;
  background: #FFFFFF;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  min-width: 160px;
  z-index: 1;
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

.nav-lang {
  display: flex;
  align-items: center;
  height: 20px;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 14px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #212121;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 80px);
    overflow-y: auto;
    text-align: center;
  }
}
.scrollUp {
  transform: translateY(-80px);
}

.nav-divider {
  border-left: 1px solid rgba(33, 33, 33, 0.1);
  border-right: 1px solid rgba(33, 33, 33, 0.1);
  height: 50px;
  display: flex;
  flex-direction: row;
  margin: auto 22px;
}

.btn {
  padding: 15px 20px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  border-radius: 14px;
  text-decoration: none;
  transition: 0.3s ease-in;
  border: 0px;
}
.btn-simple {
  background: #FFFFFF;
  color: #212121;
}
.btn-regular {
  background: #FBBD1C;
  color: #212121;
}
.btn-regular:hover {
  background: #c79104;
}
.btn-transparent {
  background: rgba(251, 189, 28, 0.4);
  color: #B78923 !important;
}
.btn-transparent:hover {
  background: #FBBD1C;
  color: #212121;
}

.btn-dropdown {
  background-image: url("../img/ddown-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 12px;
  padding: 1px 20px !important;
}

.trailer {
  margin: 22px 11px;
  display: inline-flex;
}

@media screen and (max-width: 768px) {
  .trailer {
    margin: 22px 11px;
    display: flex;
    flex-direction: row;
  }

  .form__wrap {
    position: relative;
    flex: auto;
  }
}
.jazz-caret {
  transform: translate(11px, 16px);
  font-size: 20px;
}

.form__label {
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}
.form__label[for] {
  cursor: pointer;
}
.form__label--required:after {
  content: "*";
  color: #db5451;
  margin-left: 5px;
}
.form__wrap {
  position: relative;
}
.form__textarea, .form__select, .form__input {
  border-radius: 14px;
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  display: block;
  width: 100%;
  background: #EDEDED;
  border: 0px;
  outline: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 16px 18px;
  color: #474747;
  line-height: normal;
  box-shadow: none;
  overflow: hidden;
}
.form__textarea::placeholder, .form__select::placeholder, .form__input::placeholder {
  color: #b8b8b8;
}
.form__textarea:hover, .form__select:hover, .form__input:hover {
  border-color: #b8b8b8;
}
.form__textarea:focus, .form__select:focus, .form__input:focus {
  border-color: #038cd6;
}
.form__textarea[disabled], .form__select[disabled], .form__input[disabled] {
  background: #f5f5f5;
  border-color: #e8e8e8;
  cursor: default;
}
.form--error .form__textarea, .form--error .form__select, .form--error .form__input {
  border-color: #db5451;
  box-shadow: 0 0 0 1px #db5451 inset;
}
.form__select--small, .form__input--small {
  height: 32px;
}
.form__input--icon-left {
  padding-left: 62px;
}
.form__input--icon-right {
  padding-right: 62px;
}
.form__textarea {
  resize: vertical;
  padding: 22px;
  height: 125px;
  overflow: auto;
}
.form__select--not-selected {
  color: #b8b8b8;
}
.form__select option {
  color: #474747;
}
.form__select-opener {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  pointer-events: none;
  background: #FFFFFF;
  color: #212121;
  border-radius: 0 32px 32px 0;
  border: 1px solid transparent;
  background-clip: padding-box;
}
.form--error .form__select-opener {
  border-width: 2px;
}
.form__select[disabled] + .form__select-opener {
  background: transparent;
}
.form__select-opener:before {
  border-left: 1px solid #d1d1d1;
  left: 0;
  top: 0;
  height: 100%;
  content: "";
  position: absolute;
}
.form__select[disabled] + .form__select-opener:before {
  border-color: #e8e8e8;
}
.form__select-opener:after {
  font-family: FontAwesome;
  font-weight: 900;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.has-search .search-icon {
  position: absolute;
  z-index: 2;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  pointer-events: none;
}

.swiper-container {
  width: 100%;
  height: 400px;
  border-radius: 14px;
  margin-top: 44px;
  margin-bottom: 22px;
  margin-left: 7px !important;
  margin-right: 7px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.product-card {
  display: flex;
  width: 245px;
  height: 175px;
  background: #FBBD1C;
  border-radius: 14px;
  margin: 7px;
}
.product-card:hover {
  box-shadow: rgba(33, 33, 33, 0.5) 0px 4px 17px -9px;
  transition: 0.3s ease-in;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 22px;
  margin-left: 7px;
  margin-right: 7px;
}
.section-header a {
  color: #FBBD1C;
  text-decoration: none;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.category a {
  color: #212121;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}
.category-card {
  display: flex;
  width: 245px;
  height: 175px;
  border-radius: 14px;
  margin: 7px;
  text-align: center;
}
.category-card h3 {
  display: flex;
  flex: auto;
  justify-content: center;
  align-self: center;
  color: #212121;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}

.color0 {
  background-color: #FFB7FC;
}

.color1 {
  background-color: #B7CFFF;
}

.color2 {
  background-color: #BDFFB7;
}

.color3 {
  background-color: #BDB7FF;
}

.color4 {
  background-color: #FFA28D;
}

.color5 {
  background-color: #B7FFF6;
}

.color6 {
  background-color: #908DFF;
}

.color7 {
  background-color: #FDFF8D;
}

.choose-product {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  border-radius: 14px;
  padding: 24px;
  justify-content: center;
  margin-bottom: 22px;
  margin-left: 7px;
  margin-right: 7px;
}
.choose-product select {
  border: 0px;
  margin: 0px 30px;
  font-family: "Gotham Pro", sans-serif;
  font-size: 18px;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #212121;
  padding: 100px;
  width: 100vw;
}
.footer-label {
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 5.5px 0px;
}
.footer-logo {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}
.footer-logo .logo {
  width: 200px;
}
.footer-content {
  display: inline-flex;
  margin: 0 auto;
}
.footer-column {
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
}
.footer-column h2 {
  font-size: 24px;
  font-weight: 400;
  color: #FBBD1C;
  text-transform: uppercase;
}
.footer__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 11px 0px;
}
.footer__item a {
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  transition: 0.3s ease-in;
  text-decoration: none;
}
.footer__item a:hover {
  color: #FBBD1C;
}
.footer__item a:visited {
  color: #FBBD1C;
}
.footer__item a:active {
  color: #FBBD1C;
}

.tovar {
  position: relative;
}
.tovar-container {
  display: flex;
  margin-top: 44px;
  flex-direction: row;
  justify-content: space-evenly;
}
.tovar-btn-group {
  display: flex;
  flex-direction: row;
  margin-top: 22px;
}
.tovar-btn-group > .btn {
  margin-right: 22px;
}
.tovar-image img {
  width: 400px;
}
.tovar-info {
  display: flex;
  flex-direction: column;
}
.tovar-info h1 {
  margin-bottom: 22px;
}
.tovar-category {
  display: flex;
}
.tovar-category-wrapper span {
  color: #818181;
}
.tovar-description {
  margin-top: 22px;
  color: #212121;
  max-width: 400px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.tovar-nominale {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
}
.tovar-nominale span {
  color: #818181;
}
.tovar-nominale-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 22px 0px;
}
.tovar-nominale-buttons > .btn {
  margin-right: 20px;
}

.badge {
  background: #FBBD1C;
  color: #212121;
  position: relative;
  padding: 4px 8px;
  border-radius: 6px;
  text-decoration: none;
}

.minus, .plus {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

input.number {
  text-align: center;
  width: 60px;
}

.instructions {
  background: #FFFFFF;
  width: 100%;
  padding: 22px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.instructions ul {
  max-width: 800px;
}

/*# sourceMappingURL=common.css.map */
