<template>
  <section class="wrapper">
    <h1 class="page-title">О нас</h1>
    <div class="about-block">
      <div class="about-logo">
        <img src="../assets/img/logo-min.png" alt="" />
      </div>
      <div class="about-text">
        <p class="about-paragraph">
          <b>GIFTMARKET</b> - сервис, в котором каждый может получить нужный
          товар мгновенно и гарантированно, непосредственно обменивая токены
          сети MINTER, полученные в играх, акциях и иным способом, не
          противоречащим порядку обмена токенов в блокчейн-сети MINTER.
        </p>
        <p class="about-paragraph">
          Мы регулярно расширяем ассортимент сертификатов, предоставляя вам
          самые выгодные и актуальные предложения магазинов и сервисов.
        </p>
        <p class="about-paragraph">
          Чтобы узнать еще больше о возможностях токенов блокчейн-сети MINTER
          проследуйте по <a href="https://minter.network">ссылке</a>
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  title() {
    return `О нас | GIFT`;
  },
};
</script>

<style lang="scss">
.about {
  &-block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-paragraph {
    margin: 12px 0px;
    line-height: 25px;
  }
  &-logo {
  }
  &-text {
    padding-left: 30px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    &-block {
      display: flex;
      flex-direction: column;
      justify-items: center;
    }
    &-logo {
    }
    .about-paragraph {
      line-height: 30px;
    }
    &-text {
      margin: 10px;
      padding-left: 0px;
    }
  }
}
</style>
