<template>
  <section class="wrapper">
    <h1 class="page-title">{{ pageTitle }}</h1>
    <div class="category-container">
      <v-category-item
        v-for="category in allCategories"
        :key="category.id"
        :category_data="category"
      />
    </div>
  </section>
</template>

<script>
import vCategoryItem from "../components/v-category-item";
import { mapActions, mapGetters } from "vuex";

export default {
  title() {
    return `${this.pageTitle} | GIFT`;
  },
  name: "v-all-categories",
  components: {
    vCategoryItem
  },
  data() {
    return {
      pageTitle: "Все категории",
      categories: []
    };
  },
  computed: {
    ...mapGetters(["CATEGORIES"]),
    allCategories() {
      return this.$store.getters.CATEGORIES;
    }
  },
  methods: {
    ...mapActions(["GET_CATEGORIES_FROM_API"])
  },
  mounted() {
    this.GET_CATEGORIES_FROM_API();
    // .then((response) => {
    //     // console.log(response)
    //     return response;
    // })
  }
};
</script>

<style></style>
