<template>
  <section class="wrapper">
    <div>
      <h1 class="page-title">{{ getCategory().name }}</h1>
    </div>
    <div class="card-list">
      <div v-for="product in products" :key="product.id">
        <v-catalog-item
          :product_data="product"
          v-show="product.categories == getCategory().id"
          >{{ product.title }}</v-catalog-item
        >
      </div>

      <!-- <div>{{getProduct(categories)}}</div> -->
    </div>
  </section>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import vCatalogItem from "../components/v-catalog-item";

export default {
  name: "v-chosen-category",
  title() {
    return `Категория | GIFT`;
  },
  props: {
    category_data: Object,
    product_data: Object,
  },
  components: {
    vCatalogItem,
  },
  data() {
    return {
      id: this.$router.currentRoute.params["id"],
      pageTitle: this.getCategory(),
      title: null,
    };
  },
  computed: {
    ...mapGetters(["CATEGORIES", "PRODUCTS", "CATEGORY", "PRODUCT"]),
    ...mapState({
      products: (state) => {
        return state.products;
      },
      categories: (state) => {
        return state.categories;
      },
      //    product: state => id => {
      //        return state.products.find(product = category.id == id)
      //    }
    }),
  },
  methods: {
    getProduct() {
      const products = this.PRODUCTS;
      return products;
    },
    getCategory() {
      return this.$store.getters.CATEGORY(this.id);
    },
  },
  //   mounted() {
  //       let cat = this.$store.getters.CATEGORY(this.id);
  //       console.log('Cat name: ' + cat)
  //   }
};
</script>

<style>
.card-helper {
  margin: 10px auto;
}
</style>
