<template>
<section class="wrapper">
    <slider />
     <div class="section-header">
                    <h1>{{popular}}</h1>
                    <router-link tag="a" to="/products">{{allProducts}}</router-link>
                    
                </div>
    <v-catalog />
    <div class="section-header">
                    <h1>{{categories}}</h1>
                    <router-link tag="a" to="/categories">{{allCategories}}</router-link>
                </div>
    <v-categories />
</section>
</template>

<script>
import slider from '../components/slider'
import vCatalog from '../components/v-catalog'
import vCategories from '../components/v-category'

export default {
     title () {
    return `${this.title} | GIFT`
  },
    data() {
         
        return {
            title: "Главная",
            popular: "Популярные товары",
            categories: "Категории",
            getItem: "Выбери свой сертификат",
            allCategories: "Все категории",
            allProducts: "Все сертификаты",
        }
        
    },
    components: {
        slider,
        vCatalog,
        vCategories
    }
}
</script>
