<template>
<section class="wrapper">
      <h1 class="page-title">{{name}}</h1>
    <p>Summ: {{readyPrice}}</p>
    <p>Product: {{product}}</p>
</section>
</template>

<script>
export default {
    name: "v-merchant",
    props: ["picked", "product", "readyPrice"],
    data() {
        return {
            name: "Страница оплаты"
        }
    },
    mounted(){
        console.log('GET: ' + this.picked + ' and ' + this.product)
    }
}
</script>

<style>

</style>