<template>
  <section class="wrapper">
    <div>
      <h1 class="page-title">Договор мены - оферта для физических лиц</h1>
    </div>

    <p>
      Настоящий документ является публичной офертой ИП Токаева Юлия Сергеевна (ИНН 550106088579, ОГРНИП 320554300005389) (далее -
      <strong>«Организатор»</strong>) заключить договор мены (далее -
      <strong>«Договор»</strong>) на нижеследующих условиях:
    </p>
    <h3>1. Термины и определения</h3>
    <p class="p-info">
      <br />1.1. В целях настоящего Договора нижеприведенные термины используются в следующих значениях:
      <br />
      <br />
      <strong>«Организатор»</strong> — ИП Токаева Юлия Сергеевна (ИНН 550106088579, ОГРНИП 320554300005389)
      <br />
      <br />
      <strong>«Клиент»</strong> — совершеннолетний и дееспособный гражданин, имеющий намерение в обмен на имущество в виде токенов блокчейн-сети Minter получить Сертификаты, дающие право приобрести Товары (Услуги) Партнеров для личных, семейных, домашних и иных нужд, не связанных с осуществлением им предпринимательской деятельности.
      <br />
      <br />
      <strong>«Партнер»</strong> — юридическое лицо или индивидуальный предприниматель — Продавец Товаров (Услуг), заключивший с Организатором агентский и (или) дистрибьюторский договор на размещение на Сайте и/или в Виджете своих Сертификатов, предоставляющих право приобрести Товары (Услуги) и принявший на себя обязательства по предоставлению Товаров (Услуг) лицу, предъявляющему указанный Сертификат в соответствии с условиями, доступными для ознакомления на сайте Партнера.
      <br />
      <br />
      <strong>«Публичная оферта»</strong>— предложение обменять имущество в виде токенов блокчейн-сети Minter на Сертификаты Партнеров, предоставляющие право приобретения Товаров (Услуг) Партнеров по ценам и в ассортименте торговых точек Партнера.
      <br />
      <br />
      <strong>«Договор»</strong> — настоящий договор мены – оферта, заключенный между Организатором и Клиентом посредством акцепта настоящей Публичной оферты на условиях настоящей Публичной оферты.
      <br />
      <br />
      <strong>«Торговые точки Партнера»</strong> — магазин, интернет-магазин, кафе, ресторан, сауна, и другие места, где Партнер реализует Товары (Услуги), и где осуществляются кассовые операции.
      <br />
      <br />
      <strong>«Сайт»</strong> — совокупность размещенных в сети интернет веб-страниц, объединенных единой темой, дизайном под одним доменным именем, размещенный в сети интернет по адресу www.giftmarket.io
      <br />
      <br />
      <strong>«Виджет»</strong> — это версия Сайта (в том числе способ доступа к информации с Сайта через соответствующий протокол API), предназначенная для отображения на сайте или в мобильном приложении Партнера или третьего лица с целью обмена Сертификатов, как он определен ниже.
      <br />
      <br />
      <strong>«Товар (Услуги)»</strong> — весь ассортиментный перечень товаров, работ и услуг, реализуемый Партнерами/ Партнером.
      <br />
      <br />
      <strong>«Заказ»</strong>— должным образом оформленный запрос Клиента на обмен Товаров (Услуг) Партнеров, посредством обмена Сертификатов, размещенных на Сайте либо в Виджете.
      <br />
      <br />
      <strong>«Электронные подарочные сертификаты», «ЭПС», «Сертификаты»</strong> — Сертификаты Партнера или Гифты. Сертификат становится действительным сразу после его получения Клиентом в порядке, предусмотренном настоящим Договором, и остается действительным в течение Сроков действия Сертификатов, как они определены ниже.
      <br />
      <br />
      <strong>«Сертификат Партнера», «Гифт» (далее - «Сертификат»)</strong> — неперсонифицированный документ, созданный на основании уникального электронного кода активации, передаваемый Организатору Партнером либо создаваемый Организатором по поручению Партнера с последующей авторизацией Партнером, и предъявляемый Клиентами при приобретении Товаров (Услуг) Партнера на сумму номинала Сертификата. «Сертификат Партнера» может быть использован только на сайте Партнера (если у него есть интернет-магазин) или в его торговой точке; не подлежит обмену на другой Сертификат.
      <br />
      <br />
      <strong>«Срок действия Сертификата Партнера»</strong> — период времени, в течение которого Партнер обязан передать предъявившим Сертификат Партнера Клиентам Товары (Услуги) на условиях настоящего Договора. Срок действия «Сертификата Партнера» указывается на Сайте, в Виджете и (или) на самом Сертификате.
    </p>
    <p>
      <strong>«Личный кабинет»</strong> — персональный раздел Клиента на Сайте Организатора или в Виджете, вход в который осуществляется посредством ввода учетных данных Клиента, в котором доступно осуществление Заказов на предложенных Организатором условиях. Доступ к Личному кабинету имеют только зарегистрированные пользователи Cайта.
      <br />
      <br />
      <strong>«Токен блокчейн-сети Minter» / «Токен»</strong> — объект имущественного права, характеризующийся ст. 128 ГК РФ как цифровое право, содержащийся на адресе в блокчейн-сети Minter.
      <br />
      <br />
      <strong>«BIP»</strong>— объект имущественного права, характеризующийся ст. 128 ГК РФ как цифровое право, нативный токен блокчейн-сети Minter, имеющий наименование «BIP» и определяющий цифровые характеристики Токена GIFT, такие как «Количество резервируемых BIP», «постоянное отношение к резерву» или «CRR» и другие, соответствующие требованиям блокчейн-сети Minter к таким характеристикам.
      <br />
      <br />
      <strong>«Токен GIFT» / «GIFT»</strong> — токен блокчейн-сети Minter, объект имущественного права, характеризующийся ст. 128 ГК РФ как цифровое право, созданный средствами блокчейн-сети Minter, имеющий наименование «GIFT» и цифровые характеристики, соответствующие требованиям блокчейн-сети Minter к таким характеристикам.
      <br />
      <br />
      <strong>«Токен Клиента» / «GIFT Клиента»</strong> — токен блокчейн-сети Minter, объект имущественного права, характеризующийся ст. 128 ГК РФ как цифровое право, содержащийся на адресе в блокчейн-сети Minter, к которому Клиент имеет доступ, позволяющий осуществлять операции передачи данного имущественного права или иные операции/транзакции, предусмотренные в блокчейн-сети Minter, имеющее наименование и цифровые характеристики соответствующие наименованию и цифровым характеристикам токену, указанному на веб-странице оформления заказа Сайта (Токену GIFT или BIP).
      <br />
      <br />
      <strong>«Minter»</strong> - блокчейн-сеть Minter, которая позволяет создавать имущественное право, выраженное в нативном токене блокчейн-сети Minter BIP и в токенах блокчейн-сети Minter, имеющих наименование и цифровые характеристики, соответствующие требованиям блокчейн-сети Minter к таким характеристикам. Информация о блокчейн-сети Minter расположена по адресу
      <a
        href="https://www.minter.network"
        target="_blank"
      >https://www.minter.network</a>.
      <br />
      <br />
      <strong>«API»</strong> - интерфейс программирования приложений, позволяющий Клиенту после регистрации на dev.giftmarket.io взаимодействовать с сайтом и (или) виджетами Организатора в автоматическом режиме, что позволяет осуществлять обмен BIP и GIFT на Сертификаты, формировать заказы на Сертификаты и получать Сертификаты в электронном виде. Для осуществления доступа к API Клиенту присваивается уникальный ID.
    </p>
    <h3>2. Общие положения</h3>
    <p>
      <br />2.1. Безусловным и полным принятием (акцептом) условий настоящего Договора, согласно п. 2 ст. 437 ГК РФ считается выполнение Клиентом следующего конклюдентного действия (далее -
      <strong>«Акцепт»</strong>) - внесение Клиентом на адрес в блокчейн-сети Minter, указанный на веб-странице оформления заказа Сайта, Токенов Клиента в виде токенов блокчейн-сети Minter GIFT или BIP в количестве, указанном на веб-странице оформления заказа Сайта в обмен, согласно ст. 567 ГК РФ на предоплаченный электронный подарочный сертификат Партнера и размещенный на Сайте и/или в Виджете.
      <br />
      <br />2.2. Настоящая Оферта считается акцептованной, а Договор считается заключенным с момента совершения Клиентом указанного выше действия в соответствии с условиями Договора. Заключенный Договор приравнен к документу, составленному в письменной форме. Заключение Договора означает, что Клиент в необходимой для него степени ознакомился и согласен с условиями приобретения Товаров (Услуг), предоставляемых Партнерами.
      <br />
      <br />2.3. Осуществляя акцепт Договора в порядке, определенном в п. 2.1 Договора, Клиент гарантирует, что ознакомлен, соглашается, полностью и безоговорочно принимает все условия Договора.
      <br />
      <br />2.4. Клиент понимает и соглашается, что акцепт Договора равносилен заключению Договора на условиях, изложенных в Договоре.
      <br />
      <br />2.5. Оферта вступает в силу с момента размещения в сети интернет по адресу www.giftmarket.io и действует до момента отзыва оферты.
      <br />
      <br />2.6. Организатор предоставляет Сертификат Партнера на сумму номинала Сертификата в рублях в обмен, согласно ст. 567 ГК РФ, на количество GIFT или BIP, указанное на веб-странице оформления Заказа Сайта, внесенное Клиентом на адрес в блокчейн-сети Minter, указанный на веб-странице оформления Заказа Сайта.
      <br />
      <br />2.7. Организатор не несет ответственности за исполнение Партнерами обязательств по передаче Товаров (оказанию Услуг). Все претензии по качеству реализуемых Партнером Товаров (оказываемых Услуг) Клиент обязуется предъявлять непосредственно Партнеру.
      <br />
      <br />2.8. Организатор вправе в любое время изменять перечень Партнеров. Клиент обязан ознакомиться с условиями обмена и (или) приобретения (получения) Сертификатов и (или) Товаров (получения Услуг), до их обмена и (или) приобретения (получения). Партнеры также вправе в любое время менять условия обмена и (или) приобретения (получения) Товаров (Услуг), Клиент обязуется ознакомиться с такими условиями до момента обмена и (или) приобретения (получения) Сертификатов и (или) Товаров (получения Услуг).
      <br />
      <br />2.9. Срок действия Сертификата, а также иные условия его использования, определяются Партнером.
      <br />
      <br />2.10. Все информационные материалы, предоставленные на Сайте и (или) в Виджете, носят справочный характер и не могут в полной мере передавать достоверную информацию об определенных свойствах и характеристиках Сертификатов. В случае возникновения у Клиента вопросов, касающихся свойств и характеристик Сертификатов, перед оформлением Заказа Клиент может по своему усмотрению обратиться за консультацией к Организатору по указанному способу связи на Сайте и (или) в Виджете.
      <br />
      <br />2.11. Сертификат обратному обмену и возврату не подлежит.
      <br />
      <br />2.12. НДС может входить в стоимость Сертификата, определяемую Партнером. Передача Клиенту Сертификата не является реализацией (продажей) товара, а подтверждает передачу Клиенту имущественного права требования на получение Товаров и (или) Услуг на определенную сумму, равную номинальной стоимости Сертификата, в связи с чем счета-фактуры не составляются и в книге продаж не отражаются. Обязанность по исчислению НДС возникает у Партнера в момент продажи (реализации) им Товаров и (или) Услуг Клиенту Организатора.
      <br />
      <br />2.13. Клиент обязуется не передавать и не разглашать информацию указанную в Сертификате третьим лицам. Разглашение или передача, в том числе несанкционированная не влечет за Организатором обязанности по деактивации указанных Сертификатов, а также предоставлению дополнительных Сертификатов и возмещению ущерба, причиненного Клиенту неправомерными действиями третьих лиц.
      <br />
      <br />2.14. Аналогичный порядок передачи Сертификатов применяется при осуществлении взаимодействия посредством API.
    </p>
    <h2>3. Оформление заказа</h2>
    <p>
      3.1. При оформлении Заказа на Сайте или в Виджете, Клиент самостоятельно определяет порядок оформления Заказа на Сайте или в Виджете.
      <br />
      <br />3.1.1. Обмен Сертификатов Партнеров, предоставляющих право приобрести Товары (Услуги) Партнеров;
      <br />
      <br />3.1.2. Обмен Гифта для последующего его обмена на Сертификаты Партнеров и последующего приобретения Товаров (Услуг) Партнеров с помощью Сертификата Партнеров.
      <br />
      <br />3.2. При оформлении Заказа на Сайте, Клиент обязуется предоставить о себе полную и достоверную информацию об адресе электронной почты и (или) ином предусмотренном на Сайте способе передачи Сертификатов.
      <br />
      <br />3.3. Оформляя Заказ на Сайте, Клиент дает Организатору согласие на использование предоставляемых данных, для направления Клиенту сообщений, таких как: электронные письма или короткие текстовые сообщения, содержащих информацию об исполнении Заказа.
      <br />
      <br />3.4. Организатор не несет ответственности за содержание и достоверность информации, предоставленной Клиентом при оформлении Заказа на Сайте. Вся ответственность за предоставление недостоверных данных и информации лежит на Клиенте.
      <br />
      <br />3.5. Внесение Клиентом на адрес в блокчейн-сети Minter, указанный на веб-странице оформления заказа Сайта, Токенов Клиента в количестве токенов блокчейн-сети Minter GIFT или BIP, указанном на веб-странице оформления заказа Сайта в обмен на Сертификат и (или) Гифт, является согласием Клиента с оценкой Организатора величины Токенов Клиента предоставляемых к обмену на Сертификат или Гифт и акцептом обмена на условиях настоящего Договора.
      <br />
      <br />3.6. После внесения Клиентом на адрес в блокчейн-сети Minter Токенов Клиента для обмена на Сертификаты Партнеров Организатор вправе внести на адрес Клиента в блокчейн-сети Minter количество Токенов GIFT, предусмотренное условиями, размещенными Организатором на веб-странице Акции Сайта.
      <br />
      <br />3.7. Организатор нее принимает для обмена и вправе не возвращать на адрес Клиента в блокчейн-сети Minter любые другие
      <strong>Токены блокчейн-сети Minter, кроме поименованных в настоящем договоре</strong> токенов блокчейн-сети Minter GIFT или BIP, в случае их внесения Клиентом на адрес в блокчейн-сети Minter, указанный на веб-странице оформления заказа Сайта.
    </p>
    <h2>4. Доступ к информации о Клиенте</h2>
    <p>
      4.1. Информация, предоставленная Клиентом, является конфиденциальной и не подлежит разглашению третьим лицам, за исключением случаев, прямо предусмотренных действующим законодательством Российской Федерации.
      <br />
      <br />4.2. При регистрации на Сайте или в Виджете Клиент предоставляет следующую информацию: адрес электронной почты и (или) иной указанный на Сайте способ передачи Сертификатов.
      <br />
      <br />4.3. Организатор не несет ответственности за содержание и достоверность информации, предоставленной Клиентом при оформлении Заказа и (или) регистрации на Сайте или в Виджете.
      <br />
      <br />4.4. Организатор вправе направлять Клиенту сообщения рекламно-информационного характера, на что Клиент настоящим выражает свое согласие. Если Клиент в последующем не пожелает получать такие сообщения от Организатора, он должен обратиться к Организатору с просьбой об отмене информирования по указанному способу связи на Сайте и (или) в Виджете.
      <br />
      <br />4.5. Организатор обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление Организатором информации Партнерам, агентам и третьим лицам, действующим на основании договора с Организатором, для исполнения обязательств перед Клиентом.
      <br />
      <br />4.6. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями законодательства.
      <br />
      <br />4.7. Организатор вправе использовать технологию «cookies» при предоставлении Клиенту доступа к Сайту и/или Виджету. «Cookies» не содержат конфиденциальную информацию и не передаются третьим лицам.
      <br />
      <br />4.8. При доступе Клиента к Сайту Организатор получает информацию об ip-адресе Клиента. Организатор обязуется не использовать данную информацию для установления личности Клиента.
      <br />
      <br />4.9. Обработка персональных данных производится для исполнения договора-оферты, а также для заключения договора по инициативе субъекта персональных данных - Клиента. Организатор реализует необходимые меры по защите персональных данных.
    </p>
    <h2>5. Сроки исполнения Заказа</h2>
    <p>
      5.1. Срок исполнения Заказа зависит от наличия заказанных позиций у Организатора и времени, необходимого на обработку Заказа. В случае наличия заказанных позиций у Организатора, максимальный срок исполнения Заказа составляет 30 рабочих дней, минимальный срок исполнения заказа составляет 30 секунд.
      <br />
      <br />5.2. Срок исполнения Заказа в исключительных случаях может быть оговорен с Клиентом индивидуально и изменен в том числе и в сторону его увеличения, в зависимости от характеристик и количества заказанных Сертификатов. В случае отсутствия части Заказа у Организатора, в том числе по причинам, не зависящим от последнего, Организатор вправе аннулировать указанные позиции из Заказа Клиента и уведомить Клиента об изменении комплектности его заказа по указанным каналам связи.
      <br />
      <br />5.3. Все претензии по надлежащему исполнению Заказа Клиент вправе направить Организатору по указанному способу связи на Сайте и (или) в Виджете.
    </p>
    <h2>6. Доставка Заказа</h2>
    <p>
      6.1. Заказ считается доставленным, а настоящий Договором считается исполненным в момент поступления Сертификата на указанный Клиентом адрес электронной почты и (или) адресат передачи Сертификата.
      <br />
      <br />6.2. Приобретенный Клиентом Сертификат прекращает свое действие в момент приобретения Товаров (Услуг) в торговых точках Партнеров с использованием идентификационного номера Сертификата или уникального электронного кода активации Сертификата, приобретенного в соответствии с настоящим Договором, или в момент окончания срока действия Сертификата, в зависимости от того, что наступит ранее.
    </p>
    <h2>7. Права и обязанности сторон</h2>
    <p>
      7.1. Организатор не несет ответственности за утерю Клиентом Сертификатов, несанкционированное копирование или кражу Сертификатов, полученных Клиентом.
      <br />
      <br />7.2. Организатор не несет ответственности за содержание и функционирование внешних сайтов.
      <br />
      <br />7.3. Организатор не несет ответственности за ненадлежащее использование Сертификатов.
      <br />
      <br />7.4. Организатор вправе передавать свои права и обязанности по исполнению Заказов третьим лицам.
      <br />
      <br />7.5. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями действующего законодательства.
      <br />
      <br />7.6. Организатор не несет ответственности, не может выступать в качестве ответчика в суде и не возмещает убытки, возникшие у Клиента из-за действия или бездействия Партнеров.
      <br />
      <br />7.7. Организатор не несет ответственности за качество, порядок и сроки предоставления Партнерами Товаров (Услуг). Все претензии по качеству продаваемых Товаров (оказываемых Услуг) должны направляться непосредственно Партнерам в соответствии с действующим законодательством Российской Федерации, в частности в соответствии с Законом «О защите прав потребителей».
      <br />
      <br />7.8. Организатор не несет ответственности в случае неправильного выбора Клиентом Товаров (Услуг), заказанных на Сайте и/или в Виджете Сертификатов.
    </p>
    <h2>9. Авторские права</h2>
    <p>9.1. Вся текстовая информация и графические изображения, размещенные в сети интернет по адресу www.giftmarket.io являются собственностью Организатора или его контрагента, включая Партнеров и производителей Товаров (Услуг). Использование информации и графических изображений возможно исключительно при условии получения письменного согласия Организатора и (или) его контрагентов, включая Партнеров и производителей Товаров (Услуг), при этом предоставление указанного согласия не является их безусловной обязанностью.</p>
    <h2>10. Персональные данные</h2>
    <p>
      10.1. Для выполнения условий Договора Клиент соглашается предоставить и дает согласие на обработку персональных данных в соответствии с ФЗ от 27.07.2006 года №152-ФЗ «О персональных данных» на условиях и для целей выполнения условий Договора. Под «персональными данными» понимается персональная информация, которую Клиент предоставляет о себе самостоятельно для совершения акцепта.
      <br />
      <br />10.2 Организатор гарантирует конфиденциальность в отношении персональных данных Клиента и предоставляет доступ только тем сотрудникам, которым эта информация необходима для выполнения условий Договора, обеспечивая соблюдение указанными лицами конфиденциальности персональных данных и безопасности данных при их обработке.
    </p>
    <h2>11. Прочие условия</h2>
    <p>
      11.1. Организатор освобождается от ответственности за полное или частичное неисполнение обязательств по Договору в случае, если неисполнение обязательств явилось следствием непреодолимой силы, а именно: пожара, наводнения, землетрясения, забастовки, войны, действий органов государственной власти или других независящих от Организатора обязательств.
      <br />
      <br />11.2. При возникновении непреодолимых обстоятельств Организатор обязан письменно уведомить об этом Клиента в срок до 30 рабочих дней.
    </p>
    <p>
      11.3. Если обстоятельства непреодолимой силы продолжаются более 30 рабочих дней, Организатор и (или) Клиент имеют право расторгнуть настоящий Договор в одностороннем порядке.
      <br />
      <br />11.4. Организатор сохраняет за собой право в одностороннем порядке вносить изменения в настоящий Договор с предварительной их публикацией на Сайте.
      <br />
      <br />11.5. Настоящий Договор имеет приоритет перед иными документами, опубликованными на Сайте.
      <br />
      <br />11.6. Если какое-либо условие настоящего Договора будет недействительно или неосуществимо в соответствии с действующим законодательством, все остальные условия остаются в силе, а недействительное или неосуществимое условие будет считаться замененным соответствующим действительным, осуществимым условием действующего законодательства, которое наиболее близко соответствует намерению первоначального условия
    </p>
    <h2>12. Реквизиты Организатора</h2>
    <p>
      ИП: Токаева Юлия Сергеевна
      <br />Юридический адрес: г. Омск, 16 Военный городок 366 кв.2
      <br />ОГРН: 320554300005389
      <br />ИНН: 550106088579
      <br />Банк: Точка ПАО Банка"ФК Открытие"
      <br />БИК: 044525999
      <br />Расч/счет: 40802810412500011264
      <br />Корр/счет: 30101810845250000999
      <br />
    </p>
  </section>
</template>

<script>
export default {
  data() {
    return {
      title: "Соглашение",
      info: null,
      fromRoute: null
    };
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.fromRoute = from;
    });
  },
  methods: {
    handleBack(fallback) {
      if (!this.fromRoute.name) {
        this.$router.push(fallback);
      } else {
        this.$router.back();
      }
    }
  }
};
</script>

<style>
.p-info {
  line-height: 30px;
}
</style>