<template>
  <section class="wrapper">
      <h1 class="page-title">{{pageTitle}}</h1>
      <div class="card-list">
    <v-catalog-item v-for="product in allProducts" :key="product.id" :product_data="product" />
</div>
  </section>
</template>

<script>
import vCatalogItem from '../components/v-catalog-item'
import {
    mapActions,
    mapGetters
} from 'vuex'

export default {
    name: "v-all-products",
    components: {
        vCatalogItem
    },
    props: {},
    data() {
        return {
            pageTitle: "Все сертификаты",
            products: []
        }
    },
    computed: {
        ...mapGetters([
            'PRODUCTS',
            'CART',
            'IS_MOBILE',
            'IS_DESKTOP',
            'SEARCH_VALUE'
        ]),
        allProducts() {
            return this.$store.getters.PRODUCTS;

        }
    },
    methods: {
        ...mapActions([
            'GET_PRODUCTS_FROM_API',
            'ADD_TO_CART'
        ])
    },
    mounted() {
        this.GET_PRODUCTS_FROM_API()
    }
}
</script>

<style>

</style>