<template>
<div>
    <section class="wrapper">
        <div class="tovar-container">
           
                <img :src="product.image.medium" class="tovar-image">
    
            <div class="tovar-info">
                <h1>{{product.title}}</h1>
                <div class="tovar-category-wrapper">
                <span>Категории:</span>
                        <div class="badge-group">

                     <div v-for="item in categoryName(product.categories)" :key="item.id" class="badge">{{item}}</div>

                        </div>
                       
                </div>
                <span class="tovar-description" v-html="product.brief">

                </span>

                <div class="tovar-nominale">
                <span>Выбери номинал:</span>

                    <div class="tovar-nominale-buttons" id="getPrice"> 
                                        
                        <div class="price-button" :for="item" v-for="item in product.variants.static" :key="item.id">
      <input type="radio" :name="item" :id="item" :value="item" v-model="picked">
      <label :for="item">{{item}} ₽</label>
    </div>


                      <!-- <label :for="item" v-for="item in product.variants.static" :key="item.id">
    <input type="radio" :name="item" :id="item" :value="item" v-model="picked">
    {{item}} ₽
    </label> -->
                  
                    </div>
                </div>
               <v-modal :picked="picked" :readyPrice="readyPrice" :product="product"  />
                
            </div>

        </div>
    </section>

    <section class="instructions">
        <h1>Инструкция по использованию</h1>
        <div class="terms" v-html="product.terms"></div>
    </section>

</div>
</template>

<script>
// import axios from 'axios';
import vModal from "../components/modal/v-modal"
import {
    mapActions,
    mapGetters,
    mapState
} from 'vuex'


export default {
    name: "v-product-page",
    data() {
        return {
            id: this.$router.currentRoute.params["id"],
            products: [],
            // categories: this.$store.state.categories,
            picked: ''
        };
    },
        components: {
        vModal
    },
    computed: {
        ...mapGetters([
            'PRODUCTS',
            'PRODUCT',
            'CATEGORIES',
            'CATEGORY',
            'BIP_PRICE',
            'RUB_PRICE',
            'SYS_PRICE'
        ]),
        ...mapState({
           categories: state => {
        return state.categories
      }
        }),
        product() {
            const id = this.$route.params.id
            const product = this.PRODUCT(id)
            // console.log(product)
            return product
        },
        getToken(){
          const token = this.SYS_PRICE.centrifugo_token
          return token
        },
        getSocket(){
          const socketData = this.SYS_PRICE.centrifugo.dart
          return socketData
        },
        sysPrice() {
          const price = this.SYS_PRICE.bip_price
          return price
        },
        readyPrice() {
          const picked = this.picked
          const rub = this.sysPrice
          const result = (picked / rub)
        
          return result.toFixed(1)
        }
    },
    methods: {
         show () {
    this.$modal.show('hello-world');
  },
  hide () {
    this.$modal.hide('hello-world');
  },
  toPrice() {
      this.$emit('toPrice', {
          picked: this.picked
      })
     
  },
        ...mapActions([
      'SET_PRODUCTS_TO_STATE',
      'GET_PRODUCTS_FROM_API',
      'SET_CATEGORIES_TO_STATE',
      'GET_CATEGORIES_FROM_API',
      'GET_BIP_PRICE',
      'SET_BIP_PRICE',
      'GET_RUB_PRICE',
      'SET_RUB_PRICE',
      'GET_SYS_PRICE',
      'SET_SYS_PRICE'
        ]),
        categoryName(value) {
      return this.$store.state.categories.filter((obj) => value.includes(obj.id))
                            .map(obj => obj.name)
      //  {
        // console.log(obj, product_categories)
        // if (obj.id in product_categories){
          // return obj.name}
      // })
    },

    },
    mounted() {
        if (!this.PRODUCTS.length) {
            this.GET_PRODUCTS_FROM_API()
            this.PRODUCT()
        }
        this.GET_CATEGORIES_FROM_API()
        .then((response) => {
            return response
        })
        this.GET_SYS_PRICE()
        .then((res)=>{
          return res
        })
        
    }
}
</script>

<style lang="scss">
$yellow: #FBBD1C;
$dark: #212121;

$p-tb: 15px;
$p-lr: 20px;

$btn: 18px;
$radius:14px;

$t-time: .3s ease-in;


.price-button{
  display:flex;
  flex-direction: row;
  
}

.tovar-nominale-buttons {
  input[type=radio] {
    position: absolute;
    visibility: hidden;
  }

  label {
    padding: $p-tb $p-lr;
    text-align: center;
    font-weight: 600;
    font-size: $btn;
    border-radius: $radius;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    transition: $t-time;
    border: 0px;
    background: $yellow;
    color: $dark;
    margin: 6px 12px 6px 0px;
border: 4px solid $yellow;
    

    &:hover {
      background: darken($yellow, 10%);
border: 4px solid darken($yellow, 10%);

    }
  }
  
  input[type=radio]:checked + label{
background: #fff;
color: $dark;
border: 4px solid $yellow;
}

}

</style>