<template>
<div class="countdown">
    <p class="text text-muted">У вас осталось</p>
    <h1 class="text text-heading">
<countdown :time="20 * 60 * 1000">
  <template slot-scope="props">{{ props.minutes }} минут {{ props.seconds }} секунд.</template>
</countdown>
    </h1>

</div>
</template>

<script>

export default {
    name: "v-countdown",
    props: ["seconds"]
}
</script>

<style lang="scss">
.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>
