<template>
  <div class="modal-container">
    <div class="modal-header">
      <div class="modal-title">
        <h3>Вы покупаете</h3>
      </div>
      <div class="modal-close">
        <input type="button" class="btn-close" @click="hide" value="Закрыть" />
      </div>
    </div>
    <div class="modal-body">
      <!-- <button @click="createConnection()">test</button> -->
      <div class="card-modal card-outlined">
        <img :src="product.image.medium" alt class="card-img" />
        <h4 class="card-title">{{ product.title }}</h4>
        <h4 class="card-price">{{ picked }} ₽</h4>
        <h4 class="card-price">{{ proceed.minter.price_bip }} BIP</h4>
      </div>
    </div>
    <div class="modal-body">
      <div class="text-group">
        <p class="text text-muted">К оплате</p>
        <h1 class="text text-heading">{{ proceed.minter.price_bip }} BIP</h1>
      </div>

      <div class="text-group">
        <p class="text text-muted">Отправьте на кошелёк</p>
        <h1 class="text text-heading">
          {{ proceed.minter.address }}
          <img src="../../assets/img/copy.svg" lang class="icon-copy" />
        </h1>
      </div>
      <div class="text-group">
        <p class="text text-muted">Статус</p>
        <h1 class="text-heading" v-if="status.event == 'done'">Ваш сертификат в работе!</h1>
        <div v-else-if="status.event == 'ready'">
          <h1 class="text-heading">Ваш сертификат готов!</h1>
          <br />
          <a v-bind:href="status.event">Скачать сертификат</a>
        </div>
        <h1 class="text-heading" v-else-if="status.event == null">Ожидаем оплату..</h1>
        <h1 class="text-heading" v-else-if="status.event == 'processing'">Проходит оплата.</h1>
        <h1 class="text-heading" v-else-if="status.event == 'underpaid'">
          Не хватает {{status.need - status.received}} BIP
          <br />
          Вы отправили {{status.received}} BIP
        </h1>
        <h1 class="text-heading" v-else-if="status.event == 'expired'">Время на оплату прошло.</h1>
        <p else></p>
      </div>
      <!-- <div class="text-group">
        <p>TEST</p>
        <h1>{{updateStatus()}}</h1>
      </div>-->
      <div class="text-group">
        <v-countdown />
      </div>

      <div class="text-group">
        <a
          target="_blank"
          class="btn btn-regular"
          :href="proceed.minter.deeplink"
        >Открыть в кошельке</a>
      </div>
    </div>
  </div>
</template>

<script>
// import Vue from "vue"
import vCountdown from "./v-countdown";
import Centrifuge from "centrifuge";
import { mapGetters, mapActions } from "vuex";

export default {
  props: ["product", "proceed", "picked", "readyPrice", "minutes", "seconds"],
  name: "v-merchant",
  components: {
    vCountdown
  },
  data() {
    return {
      orderInfo: null,
      payStatus: null,
      status: JSON.parse(localStorage.status)
    };
  },
  computed: {
    ...mapGetters(["SYS_PRICE"])
    // ...mapState({
    //   paystatus: state => {
    //     return state.payStatus;
    //   }
    // })
  },

  methods: {
    ...mapActions(["GET_SYS_PRICE", "SET_SYS_PRICE", "setPayStatus"]),
    getToken() {
      const token = this.SYS_PRICE.centrifugo_token;
      return token;
    },
    getSocket() {
      const socketData = this.SYS_PRICE.centrifugo.dart;
      return socketData;
    },
    copySuccess({ value, event }) {
      this.$toast.open("Кошелёк успешно скопирован", value, event);
    },
    copyError({ value, event }) {
      this.$toast.open(
        "Извините, произошла ошибка. Попробуй ещё раз",
        value,
        event
      );
    },
    show() {
      this.$modal.show("hello-world", {
        height: "auto"
      });
    },
    hide() {
      this.$modal.hide("hello-world");
    },
    updateStatus() {
      let accessURL = "wss://centrifugo.giftmarket.io/connection/websocket";
      let accessToken = this.SYS_PRICE.centrifugo_token;
      let channelName = this.proceed.key;

      const centrifuge = new Centrifuge(accessURL);

      centrifuge.setToken(accessToken);

      centrifuge.subscribe(channelName, function(message) {
        localStorage.setItem("status", JSON.stringify(message.data));
      });

      centrifuge.connect();

      return this.status;
    }
  },
  created() {
    this.GET_SYS_PRICE();
  }
};
</script>

<style lang="scss">
$yellow: #fbbd1c;
$dark: #212121;

.text {
  margin: 6px;
}

.text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-muted {
  color: #696969;
}

.text-heading {
  color: $yellow;
}

.icon-copy {
  width: 24px;
  height: 24px;
  color: #696969;
  padding: 2px;
  border-radius: 4px;

  &:hover {
    background: $yellow;
  }

  &:active {
    background: darken($yellow, 10%);
  }
}
</style>
