<template>
  <div>
    <div class="tovar-btn-group" v-show="picked = picked">
      <input type="button" value="Приобрести" @click="show" class="btn btn-regular" />
    </div>

    <modal name="hello-world" :height="700" :width="800">
      <div v-if="!firstDataShow" class="modal-container" id="modal-data">
        <div class="modal-header">
          <div class="modal-title">
            <h3>Вы выбрали</h3>
          </div>
          <div class="modal-close">
            <input type="button" class="btn-close" @click="hide" value="Закрыть" />
          </div>
        </div>

        <div class="modal-body">
          <div class="card-modal card-outlined">
            <img :src="product.image.medium" alt class="card-img" />
            <h4 class="card-title">{{product.title}}</h4>
            <h4 class="card-price">{{picked}} ₽</h4>
            <h4 class="card-price">{{readyPrice}} BIP</h4>
          </div>
        </div>

        <div id="content-first">
          <div class="modal-header">
            <h3>Доставка</h3>
          </div>
          <div class="modal-body">
            <div class="form-helper">
              <div class="trailer">
                <label class="check-container">
                  Получить в приложении
                  <input type="checkbox" v-model="getInApp" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="form-helper">
              <div class="trailer">
                <div class="form__wrap">
                  <input
                    type="text"
                    name="recipientEmail"
                    placeholder="E-mail получателя"
                    v-model="recipientEmail"
                    class="form__input"
                    required
                  />
                </div>
              </div>

              <div class="trailer">
                <div class="form__wrap">
                  <input
                    type="text"
                    name="recipientPhone"
                    placeholder="Номер получателя"
                    v-model="recipientPhone"
                    class="form__input"
                  />
                </div>
              </div>

              <div class="trailer">
                <div class="form__wrap">
                  <input
                    type="text"
                    name="recipientName"
                    placeholder="Имя получателя"
                    v-model="recipientName"
                    class="form__input"
                  />
                </div>
              </div>
            </div>
            <div class="form-helper">
              <div class="trailer">
                <div class="form__wrap">
                  <input
                    type="text"
                    name="senderEmail"
                    placeholder="Почта отправителя"
                    v-model="senderEmail"
                    class="form__input"
                    required
                  />
                </div>
              </div>
              <div class="trailer">
                <div class="form__wrap">
                  <input
                    type="text"
                    name="senderName"
                    placeholder="Имя отправителя"
                    v-model="senderName"
                    class="form__input"
                  />
                </div>
              </div>

              <!-- <div class="trailer">
             <div class="form__wrap form__checkbox">
               <label for="checkbox">Отправить в подарок</label>
              <input type="checkbox" id="checkbox" v-model="recipientGift" name="checkbox">
             </div>
              </div>-->
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="form-helper">
            <div class="trailer">
              <label class="check-container">
                Я ознакомился с
                <router-link to="/agreement" tag="a" target="_blank">офертой</router-link>
                <input type="checkbox" v-model="agreement" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <button
            class="btn btn-regular"
            v-show="agreement = agreement"
            :picked="picked"
            :readyPrice="readyPrice"
            :product="product"
            @click="proceedToPay(); firstDataShow = true, secondDataShow = false"
          >Продолжить</button>
        </div>
      </div>

      <v-merchant
        :proceed="proceedInfo"
        :picked="picked"
        :readyPrice="readyPrice"
        :product="product"
        v-if="!secondDataShow"
      />
    </modal>
  </div>
</template>

<script>
import vMerchant from "./v-merchant";
import axios from "axios";
export default {
  props: ["product", "picked", "readyPrice"],
  components: {
    vMerchant
  },
  data() {
    return {
      //recipient
      recipientEmail: "",
      recipientPhone: "",
      recipientName: "",
      recipientGift: "",
      //sender
      senderEmail: "",
      senderName: "",
      // value: '',
      //others
      getInApp: false,
      agreement: false,
      firstDataShow: false,
      secondDataShow: true,
      proceedInfo: null
    };
  },
  methods: {
    show() {
      this.$modal.show("hello-world", { height: "auto", adaptive: true });
    },
    hide() {
      this.$modal.hide("hello-world");
    },
    proceedToPay() {
      const baseURL = "https://api.giftmarket.io/v1";
      const token = "c8a510143163b87b0030f5617e0e2622";
      const order = "/order";
      axios
        .get(baseURL + order, {
          params: {
            token: token,
            product: this.product.id,
            to_email: this.recipientEmail,
            to_phone: this.recipientPhone,
            to: this.recipientName,
            from_email: this.senderEmail,
            from: this.senderName,
            in_app: this.getInApp,
            variant: this.picked
          }
        })
        .then(
          response => (
            (this.proceedInfo = response.data)
          )
        );
    }
  }
};
</script>

<style lang="scss">
$yellow: #fbbd1c;
$dark: #212121;

$p-tb: 15px;
$p-lr: 20px;

$btn: 18px;
$radius: 14px;

$t-time: 0.3s ease-in;

.disabled {
  background: #696969;
  color: $dark;
}

.modal {
  &-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 12px;
  }
}
.form-helper {
  display: flex;
  flex-direction: row;
  margin: 22px 0px;
}
.trailer {
  margin: 0px 11px;
}
.form__checkbox {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  input[type="checkbox"] {
    background: #696969;
    border: 0px;
    width: 16px;
    height: 16px;
    &:checked {
      background: #fbbd1c;
    }
  }
  label {
    margin-left: 12px;
  }
}

.btn {
  font-family: "Montserrat", sans-serif;
}

.active {
  background: #fff;
  color: #fbbd1c;
}

.btn-close {
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #696969;
  border: none;
}

.payment-buttons-group {
  margin: 21px 12px;
  display: flex;
  flex-direction: row;
  input[type="radio"] {
    position: absolute;
    visibility: hidden;
  }

  label {
    padding: $p-tb $p-lr;
    text-align: center;
    font-weight: 600;
    font-size: $btn;
    border-radius: $radius;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    transition: $t-time;
    border: 0px;
    background: $yellow;
    color: $dark;
    margin: 6px 12px 6px 0px;

    &:hover {
      background: darken($yellow, 10%);
    }
  }

  input[type="radio"]:checked + label {
    background: darken($yellow, 10%);
  }
}

.card {
  &-modal {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 12px;
    align-items: center;
  }
  &-outlined {
    border: 1px solid lighten(#696969, 30%);
    border-radius: 14px;
  }
  &-img {
    display: flex;
    width: 20%;
    height: 20%;
    border-radius: 8px;
    margin-right: 21px;
  }
  &-title {
    font-size: 18px;
    color: #282828;
    margin: 12px;
  }
  &-price {
    font-size: 18px;
    font-weight: 400;
    color: #282828;
    margin: 12px;
  }
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  line-height: 1.6;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}

.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
  background-color: #fbbd1c;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #212121;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>