<template>
  <div class="nav" id="navbar">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header">
      <div class="nav-title">
        <a href="/">
          <img src="../assets/img/gift-logo.png" class="nav-logo" />
        </a>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <router-link tag="a" to="/products">Все сертификаты</router-link>
      <router-link tag="a" to="/categories">Категории</router-link>
      <router-link tag="a" to="/about">О нас</router-link>


        <div class="trailer">
          <div class="form__wrap has-search">
            <img
              src="../assets/img/search-icon.svg"
              class="search-icon form__input--icon-right"
            />
            <!-- <input
              type="text"
              placeholder="Поиск"
              id="search"
              class="form__input"
            /> -->
            <VueFuse
          placeholder="Поиск по сертификатам"
          event-name="results"
          :list="gifts"
          :keys="['title', 'description']"
          class="form__input"
          v-model="query"
        />
        <!-- <div class="search-results">
          <ul>
            <li v-for="item in gifts" :key="item.id">
              {{item.title}}
            </li>
            </ul>
        </div> -->
        
          </div>
        </div>


      <!-- <a href="#" class="btn btn-transparent">Корзина</a> -->
    </div>
  </div>
</template>

<script>
// const giftURL = "http://localhost:8080";
// const params = "";
import {mapState} from "vuex"

export default {
  data(){
    return {
      searchResultsVisible: false
    }
  },
  computed:{
     ...mapState({
           gifts: state => {
        return state.products
      }
        }),
  }
};
</script>

<style lang="scss">
  .search{
    &-results{
      width: 400px;
      height: auto;
      background: #fff;
      box-shadow: 1px 1px 4px #696969;
      border-radius: 16px;
      position: absolute;
      margin-top: 10px;
      >ul>li{
        list-style: none;
        padding: 16px;
        margin: 10px;
        transition: .3s;
        cursor: pointer;
        &:hover{
          background: #f4f4f4;
          border-radius: 8px;
        }
      }
    }
  }
</style>