<template>
  <div>
    <carousel>
      <slide v-for="slide in slides" :key="slide.id">
        <img :src="slide.image" alt="" />
      </slide>
    </carousel>
  </div>
</template>

<script>
import axios from "axios";
import { Carousel, Slide } from "vue-carousel";
const url =
  "https://api.giftmarket.io/v1/banners?token=c8a510143163b87b0030f5617e0e2622";

export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      slides: [],
    };
  },
  mounted() {
    axios.get(url).then((response) => {
      this.slides = response.data.data;
    });
  },
};
</script>

<style lang="scss">
.VueCarousel {
  margin-top: 4%;
  border-radius: 16px;
  &-wrapper {
    border-radius: 16px;
  }
  &-pagination {
    display: none;
  }
}
</style>
