<template>

    <div class="category-container">
        <v-category-item v-for="category in allCategories.slice(0,12)" :key="category.id" :category_data="category" />
    </div>

</template>

<script>
import vCategoryItem from './v-category-item'
import {mapActions, mapGetters} from 'vuex';

export default {
    name: "v-categories",
    components: {
        vCategoryItem
    },
    props: {},
    data() {
        return {
            categories: []
        }
    },
    computed: {
        ...mapGetters([
            'CATEGORIES'
        ]),
        allCategories(){
            return this.$store.getters.CATEGORIES;
        }
    },
    methods: {
        ...mapActions([
            'GET_CATEGORIES_FROM_API'
        ])
    },
    mounted () {
        this.GET_CATEGORIES_FROM_API()
    }
}
</script>

<style>

</style>