<template>
<div class="card-list">
    <v-catalog-item v-for="product in allProducts.slice(0, 12)" :key="product.id" :product_data="product" />
</div>
</template>

<script>
import vCatalogItem from './v-catalog-item'
import {
    mapActions,
    mapGetters
} from 'vuex'

export default {
    name: "v-catalog",
    components: {
        vCatalogItem
    },
    props: {},
    data() {
        return {
            products: []
        }
    },
    computed: {
        ...mapGetters([
            'PRODUCTS',
            'CART',
            'IS_MOBILE',
            'IS_DESKTOP',
            'SEARCH_VALUE'
        ]),
        allProducts() {
            return this.$store.getters.PRODUCTS;

        }
    },
    methods: {
        ...mapActions([
            'GET_PRODUCTS_FROM_API',
            'ADD_TO_CART'
        ])
    },
    mounted() {
        this.GET_PRODUCTS_FROM_API()
            
    }
}
</script>

<style lang="scss">
.card-list {
    display: flex;
    flex-wrap: wrap;
}
</style>
