<template>
    <router-link tag="div" :to="'/product/' + product_data.id" class="card">
    <!-- <h1>{{product_data.title}}</h1>              -->
             <div class="card_image">
                        <img v-bind:src="product_data.image.medium">

             </div>
    

    </router-link>

</template>

<script>
export default {
    name: "v-catalog-item",
    props: {
        product_data: {
            type: Object,
            default () {
                return {}
            }
        }
    },
    data () {
        return {
            products: []
        }
    },
    mounted () {
        return this.$store.getters.PRODUCTS
    }
}
</script>

<style>

</style>
