<template>
  <router-link tag="a" :to="'/category/' + category_data.id">
    <div class="category-card">
       <h3>{{category_data.name}}</h3> 
    </div>
  </router-link>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: "v-category-item",
    props: {
        category_data: {
            type: Object,
            default () {
                return {}
            }
        }
    },
    data () {
        return {
            categories: []
        }
    },
    computed:{
        ...mapGetters([
            'CATEGORIES'
        ])
    },
    mounted () {
        return this.$store.getters.CATEGORIES
    }
}


</script>

<style>

</style>