<template>
  <div id="app">
    <navbar />
    <router-view></router-view>
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-column">
          <router-link to="/">
            <img src="./assets/img/gift-logo-light.png" class="logo" alt="" />
          </router-link>
        </div>
        <div class="footer-column">
          <router-link class="footer-link" to="/agreement"
            >Соглашение пользователя</router-link
          >
        </div>

        <div class="footer-column">
          <router-link class="footer-link" to="/about">О нас</router-link>
        </div>
      </div>
    </footer>
  </div>
</template>

<style src="./assets/scss/common.scss" lang="scss"></style>

<script>
import navbar from "./components/navbar";
// var Centrifuge = require("centrifuge");

import { mapActions, mapGetters } from "vuex";

export default {
  title() {
    return `GIFT | Ваши любимые сертификаты`;
  },
  components: {
    navbar,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters([
      "PRODUCTS",
      "CATEGORIES",
      "PRODUCT",
      "CATEGORY",
      "SYS_PRICE",
    ]),
  },
  methods: {
    ...mapActions([
      "GET_CATEGORIES_FROM_API",
      "GET_PRODUCTS_FROM_API",
      "SET_PRODUCTS_TO_STATE",
      "SET_CATEGORIES_TO_STATE",
      "GET_SYS_PRICE",
      "SET_SYS_PRICE",
    ]),
  },
  mounted() {
    this.GET_CATEGORIES_FROM_API();
    this.GET_PRODUCTS_FROM_API();
    this.GET_SYS_PRICE();
  },
};
</script>
